.idea/
node_modules
**/node_modules/
**/**/node_modules/
**/**/**/node_modules/
*.zip
*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
*.zip
.DS_Store
.project
.strong-pm
coverage
npm-debug.log
.vscode
oracle
out
jsdoc
.nyc_output
common/temp