doctype html
html
  head
    title= title
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet' href="../../bootstrap/dist/css/bootstrap.min.css")
    script(src="../../jquery/dist/jquery.min.js")  
    script(src="../../bootstrap/dist/js/bootstrap.min.js")
  body
    include nav
    block content
